
<div id="<%= dom_id friend %>">  
    
      <tr>
        <td>
        <%= link_to friend.first_name+" "+friend.last_name, friend %>
        </td>    
        <td><%= friend.title%></td>
        <td><%= friend.email %></td>
        <td><%= friend.phone %>  </td>
        <td><%= friend.facebook %></td>
        <td><%= friend.user_id%></td>
        
      </tr>
</div> 



