
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  
    <div class="card w-50 m-auto">
      <div class="card-header">
      Log in
      </div>
      <div class="card-body">
          <div class="field form-outline mb-4">
          <% f.label :email %><br />
          <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder:"name@example.com",class:"form-control form-floating" %>
      </div>

      <div class="field form-outline mb-2">
          <%= f.password_field :password, autocomplete: "current-password", placeholder:"Password",class:"form-control" %>
      </div>

      <% if devise_mapping.rememberable? %>
        <div class="form-check">
            <%= f.check_box :remember_me, class:"form-check-input" %>
            <%= f.label :remember_me %>
        </div>
      <% end %>

      <div class="actions form-group my-2">
          <%= f.submit "Log in", class:"form-control btn btn-success"%>
      </div>
      <% end %>

    <br/>
    </div>
    <div class="card-footer p-0">
        <%= render "devise/shared/links" %>
    </div>
  </div>
</div>

  
    


